@font-face {
  font-family: 'sunny';
  src: url("./assets/sunny.woff2") format("woff2");
}

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "sunny";
}

body {
  background-color: beige;
}

#welcome-screen{
  display: grid;
}

#title{
  display: grid;
  font-size: 10em;
  margin: auto 1em;
  justify-content: center;
  align-content: center;
}

#welcome-img{
  margin: auto;
  border-radius: 10em;
}

#title-blurb{
  display: grid;
  font-size: 3em;
  margin: auto 1em;
  justify-content: center;
  align-content: center;
}

#start-btn{
  display: grid;
  font-size: 3em;
  margin: auto 17em;
  justify-content: center;
  align-content: center;
  border-radius: 10em;
  background-color: lightgray;
}

#quiz{
  display: none;
}

#score-container {
  display: flex;
  justify-content: center;
}

#score {
  font-size: 2em;
}

#content {
  display: grid;
  margin: 1em;
  border-radius: 1em;
}

#question-container {
  display: grid;
  background-color: lightblue;
  border-radius: 1em 1em 0 0;
  border: 0.1em gray solid;
}

#question-text {
  display: grid;
  font-size: 3em;
  text-align: center;
  margin: auto 1em;
  justify-content: center;
  align-content: center;
}

#question-image {
  display: none;
  margin: 0 auto 1em;
}

#answers-container {
  background-color: darkblue;
  border-radius: 0 0 1em 1em;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.answer {
  display: grid;
  background-color: lightgray;
  font-size: 3em;
  border-radius: 0.5em;
  border: 0.01em solid black;
  padding: 0.5em;
  text-align: center;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-width: 103.125em) { /* 1650px */
  body {
    background-color: white;
  }

  .answer {
    padding: 0;
  }
}

@media only screen and (max-width: 64.1875em) { /* 1027px */
  body {
    background-color: green;
  }
}