@font-face {
  font-family: 'sunny';
  src: url("./assets/sunny.woff2") format("woff2");
}

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "sunny";
}

body {
  background-color: beige;
}

#score-container {
  display: flex;
  justify-content: center;
}

#score {
  font-size: 2em;
}

#content {
  display: grid;
  margin: 1em;
  border-radius: 1em;
}

#question-container {
  display: grid;
  background-color: lightblue;
  border-radius: 1em 1em 0 0;
  border: 0.1em gray solid;
}

#question-text {
  display: grid;
  font-size: 2em;
  text-align: center;
  padding: auto 1em;
  justify-content: center;
  align-content: center;
}

#question-image {
  display: none;
  margin: 0 auto 1em;
}

#answers-container {
  background-color: darkblue;
  border-radius: 0 0 1em 1em;
  padding: 1em;
  display: grid;
}

.answer {
  display: grid;
  background-color: lightgray;
  font-size: 2em;
  text-align: center;
  border-radius: 0.5em;
  border: 0.01em solid black;
  padding: 0.5em;
  justify-content: center;
  align-content: center;
}

/* @media screen and (min-width: 200px){
  .answer img {
    max-width: 20vw;
    max-height: 20vh;
  }
}

@media screen and (min-width: 400px){
  .answer img {
    max-width: 25vw;
    max-height: 25vh;
  }
}

@media screen and (min-width: 600px){
  .answer img {
    max-width: 30vw;
    max-height: 30vh;
  }
}

@media screen and (min-width: 800px) {
  .answer img {
    max-width: 35vw;
    max-height: 35vh;
  }
} */


